# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/
.env

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Databases
*.sqlite3
*.db

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
